body{
    background-color: black;
    color: white;
}
/* a[target="_top"]{
    background-color: yellow;
    font-size: 5rem;
} */

.class1 .class2{
    background-color: yellow;
    color: blue;
    font-size: 5rem;
}

.class1.class2{
    background-color: yellow;
    color: white;
    font-size: 5rem;
}